---
import Main from "../components/Main.astro";
import Galleri from "../components/Galleri.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.css"

---
<p>hej

</p>
<Main/>
<Galleri/>
	<Footer/>
