---
---

<div class="background-color">
<section>
    <h2>GRATIS ADVOKATHJÆLP</h2>
    <h3>Få CA Advokathjælp til 0 kr.</h3>
    <p>Du får CA Advokathjælp for studerende for 0 kr. Så kan du få tjekket kontrakten til dit studiejob af professionelle advokater.<br>  Du kan også få kort juridisk rådgivning om fx kontrakt og ansættelsesforhold helt gratis.</p>
<div class="knap">
    <img src="/advo-help.svg" alt="knap-advokathjælp">
</div>
</section>
</div>

<style>
    @import url('https://fonts.cdnfonts.com/css/nexa-bold');
    .background-color{
     background-color: #F9F9F3;
     padding-top: 10rem;
     padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .knap img{
      width: 70%;
      height: auto;
      margin-left: 2rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    section{
     background-color: #FFFFFF;
        border: 2px solid #000; /* You can adjust the border width and color */
    }

     h2{
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      text-transform: none;
      padding: 0;
  }
  h3{
    font-size: 20px;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
  }
  p{
    font-size: 18px;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 200;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
      line-height: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .knap img{
      width: 20%;
      height: auto;
      margin-left: 7rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    .background-color{
     background-color: #F9F9F3;
     padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    section{
     background-color: #FFFFFF;
        border: 2px solid #000; /* You can adjust the border width and color */
    }

     h2{
    font-size: 30px;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      text-transform: none;
      padding: 0;
  }
  h3{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-left: 7rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
  }
  p{
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 200;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
      line-height: 2rem;
  }
  }
  </style>