<footer id="footer">
  <div class="grid-5">
    <div>
      <p><a href="#">Om CA</a></p>
      <p><a href="#">Kontakt</a></p>
      <p><a href="#">Nyheder</a></p>
      <p><a href="#">Nyhedsbrev</a></p>
      <p><a href="#">Studiepartner</a></p> 
    </div> 

    <div>
      <p><a href="#">Instant feedback</a></p>
      <p><a href="#">Løntjek</a></p>
      <p><a href="#">Persondatapolitik</a></p>
      <p><a href="#">Cookiepolitik</a></p>
    </div> 

    <div>
      <p><a href="#">Telefon</a></p>
      <p><a href="#">Hverdage kl. 08.30-15.00</a></p>
      <p><a href="#">Tlf: 3314 9045</a></p>
      <p><a href="#">Send en mail</a></p>
    </div> 

    <div>
      <p><a class="SoMe" href="#">Facebook</a></p>
      <p><a class="SoMe" href="#">LinkedIn</a></p>
      <p><a class="SoMe" href="#">Instagram</a></p>
      <p><a class="SoMe"  href="#">TikTok</a></p>
    </div>
     
  </div>

 
</footer>


<style>
  @import url('https://fonts.cdnfonts.com/css/nexa-bold');

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}



    footer{
      height: 80vh;
      background: #8AFF9D;
      padding: 0.5rem;
      z-index: -1;
      padding: 90px 46px 87px 57px;
    }

  
    
  

    p{
    z-index: 1;
    font-size: 18px;
    text-decoration: none;
    font-weight: 200;
    color: #000000;
    font-family: 'Nexabold', sans-serif;
      padding: 0;
      

   
      
}

a{
    color: #000000;
    text-decoration: none;
}

.SoMe{
  color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.SoMe:hover{
  color: #ffffff;

}
a:hover {
color: #ffffff;
text-decoration: none;}


    @media screen and (min-width: 768px){

      .grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
      }

  footer{
    height: 20vh;
    padding: 90px 46px 87px 57px;
  }



p{
        font-size: 18px; 
}

  p a:hover{
    color: #ffffff;
    text-decoration: none;
}

}

@media screen and (min-width: 1440px) {

footer {
    margin: 0 auto;
    height: 36vh;
}

.pilop{
margin-left: 800px;
}

}

       
</style>

