<main>
<footer id="footer">
<p>mail: xxx@222222.com  instagram: @xxxxxxx</p>

</footer>
</main>
<style>
    p{
        z-index: 1;
        color: hsla(0, 0%, 0%, 0.95);
        font-size: 14px;
        font-family: Helvetica;
}

    @media screen and (min-width: 768px)

@media screen and (min-width: 1440px) {
}

       
</style>

