---
---

<div class="background-color">
    <section>
        <h2>Spar masser af penge med CA Studieforsikring</h2>
        <div class="knap2">
            <img src="/g-logo.svg" alt="gjensidige-logo">
        </div>
<p>Som gratis studiemedlem i CA får du adgang til en skræddersyet og billig forsikring til studerende <br> – indbo-, ulykke- og rejseforsikring.</p>   
 <div class="knap">
        <img src="/knap-forsikring.svg" alt="knap-forsikring">
    </div>
    </section>
    </div>
    
    <style>
        @import url('https://fonts.cdnfonts.com/css/nexa-bold');
        .background-color{
     background-color: #F9F9F3;
     padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .knap img{
      width: 40%;
      height: auto;
      margin-left: 2rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    .knap2{
        width: 30%;
      height: auto;
      margin-left: 2rem;
      margin-bottom: 3rem;
      margin-top: 3rem;  
    }
    section{
     background-color: #FFFFFF;
        border: 2px solid #000; /* You can adjust the border width and color */
    }

     h2{
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      text-transform: none;
      padding: 0;
  }
  h3{
    font-size: 20px;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
  }
  p{
    font-size: 18px;
    margin-top: 3rem;
    margin-left: 2rem;
        margin-right: 2rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 200;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
      line-height: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .knap img{
      width: 20%;
      height: auto;
      margin-left: 7rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    .knap2{
      width: 50%;
      height: auto;
      margin-left: 7rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    .background-color{
     background-color: #F9F9F3;


        padding-left: 5rem;
        padding-right: 5rem;
    }
    section{
     background-color: #FFFFFF;
        border: 2px solid #000; /* You can adjust the border width and color */
    }

     h2{
    font-size: 30px;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      text-transform: none;
      padding: 0;
  }
  h3{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-left: 7rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
  }
  p{
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-bottom: 20;
    text-decoration: none;
    font-weight: 200;
    color: #000000;
    font-family: 'Nexa', sans-serif;
      padding: 0;
      line-height: 2rem;
  }
  }
      </style>