</main>
<div class="vertical-line"></div>
</main>
<style>
.vertical-line {
    position: fixed; /* Fixed position keeps it in view as you scroll */
    top: 0;
    bottom: 0;
    left: 80%; /* Adjust the left position as needed */
    width: 2px; /* Adjust the width as needed */
    background-color: black;
}

  @media screen and (max-width: 767px) {
   
.vertical-line {

    left: 99%; /* Adjust the left position as needed */

}
</style>