---
import Nav from "../components/Nav.astro";
import "../styles/main.css"
import "../styles/normalize.css"
import Footer from "../components/Footer.astro";

const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">

		<title>{title}</title>

	</head>
	<body id="op">
        <Nav/>

		<div class="logo-container" id="logo-container">
			<img src="/gratislogo.png" alt="Your Logo">
		  </div>

		<main >

			

            <slot />

		</main>
		
			<Footer/>

	</body>
</html>

<style>
	.logo-container {
  float: right;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  transition: max-width 0.3s ease;
}

.logo-container.sticky {
  max-width: 50px; /* Adjust the size when the logo becomes sticky */
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
	var logoContainer = document.getElementById("logo-container");
	var body = document.body;
	var bodyHeight = body.clientHeight;
  
	window.addEventListener("scroll", function () {
	  if (window.pageYOffset > bodyHeight) {
		logoContainer.classList.add("sticky");
	  } else {
		logoContainer.classList.remove("sticky");
	  }
	});
  });

</script>







